@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.App {
  background: whitesmoke;
  min-height: 100vh;
}

/* error page  */
.link_error {
  height: 50vh;
  display: grid;
  place-items: center;
}
.error_box {
  text-align: center;
  font-size: 1.4rem;
}

.error_cause {
  font-size: 1.2rem;
  color: red;
}
/* nav bar  */
.navbar__1 {
  position: sticky;
  min-height: 8vh;
  width: 100%;
  position: -webkit-sticky;
  top: 0;
  z-index: 1; /* required */
  display: flex;
  align-items: center;
  background: white;
  box-shadow: 0px 0px 2px rgba(0,0,0,0.5);
}

.navbar__1 .row {
  width: 100%;
}

.navbar__1 .brand {
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
}

.navbar__1 img {
  width: 100%;
}

.navbar__1 .nav_link {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color ease 250ms;
}

.navbar__1 .nav_link .position-absolute {
  right: 20%;
}

.nav_link::after {
  content: '';
  position: absolute;
  bottom: -2vh;
  left: 0;
  width: 0;
  height: 1vh;
  background: #0d6efd;
  border-radius: 2px;
  transition: width ease 250ms;
}

.nav_link:hover {
  color: #0d6efd;
}

.nav_link:hover::after {
  width: 100%;
}

.nav_link_active {
  position: relative;
  color: #0d6efd;
  display: flex;
}

.nav_link_active::after {
  content: '';
  position: absolute;
  bottom: -2vh;
  left: 0;
  width: 100%;
  height: 1vh;
  background: #0d6efd;
  border-radius: 2px;
}

/* consumer home page */

.product__page .card {
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  font-family: 'Lato', sans-serif;
}

.product__page .item_img {
 width: 100%;
 overflow: hidden;
}

.product__page .item_img img {
  width: 100%;
  transition: all ease 0.5s;
}

.product__page .item_img img:hover {
  transform: scale(1.2)
}

.product__page .item_details {
  padding: 0.8rem;
}

.product__page .card .item_name {
  font-weight: 700;
  font-size: 1.4rem;
}

.product__page .item_price {
  color: blue;
}

/* consumer item page */

.item_page {
  font-family: 'Lato', sans-serif;
  background: white;
  min-height: 89vh;
  display: grid;
  place-items: center;
}

.item_page .item_img {
  width: 100%;
  overflow: hidden;
}

.item_page .item_img img {
  width: 100%;
  transition: all ease 0.5s;
}

.item_page .item_img img:hover {
  width: 100%;
  transform: scale(1.2);
}

.item_page .item_name {
  font-size: x-large;
  font-weight: 700;
}

.item_page .item_price {
  font-size: larger;
  color: blue;
}

.sign__up {
  display: flex;
  width: 100%;
  justify-content: center;
}

.sign__up .head {
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
}

.sign__up .card {
  width: 75%;
}

.sign__up .card p {
  margin-bottom: 0;
  margin-top: 10px;
}

.sign__up .card input {
  width: 100%;
  border: 1px solid #e6e6e6;
  outline: 0;
  padding: 0 10px;
  height: 44px;
}

.sign__up .card input.btn {
  width: inherit;
}

/* cart page */

.cart {
  min-height: 89vh;
}

.cart .card_items {
  overflow: hidden;
}

.cart .cart_head {
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: 600;
  font-size: 1.1rem;
}

.cart .cart_item {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.cart .cart_image_box {
  width: 25%;
  overflow: hidden;
  text-align: center;
}

.cart .cart_image_box p {
  margin: 0;
}

.cart .cart_image_box img {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem;
}

.cart .count_box {
  display: flex;
  justify-content: center;
  width: 100%;
}

.cart .count_box input {
  width: 40%;
  text-align: center;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

.cart .cart_details_box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 75%;
}

.cart .cart_item_name {
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 0.3rem 0.6rem 0 0.6rem;
  font-weight: 400;
}

.cart .cart_item_name:hover {
  color: #0d6efd;
}

.cart .cart_item_info {
  color: gray;
  padding: 0rem 0.6rem 0.3rem 0.6rem;
}

.cart .cart_item_seller {
  color: gray;
  padding: 0.3rem 0.6rem;
}

.cart .cart_item_price {
  padding: 0.8rem 0.6rem;
  color: blue;
  font-weight: 500;
}

.cart .cart_items .cart_empty {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.cart .cart_items .cart_empty_icon {
  color: black;
  margin: 0 auto;
  font-size: 5rem;
}

.cart .cart_items p {
  margin: 0 auto;
}

.cart .cart_items a {
  margin: 0.5rem auto 0 auto;
}

.cart .cart_order {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
}

.cart .cart_total_head {
  padding: 0.8rem;
  color: grey;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-weight: 500;
  font-size: 1rem;
}

.cart .price_details .cart_details_price, .cart .cart_details_delivery {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.cart .price_details hr {
  margin: 0 1rem;
}
.cart .cart_total_amount {
  padding: 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

/* business */

.business {
  height: 100vh;
  width: 100%;
  display: grid;
  place-items: center;
}

.business .business_auth {
  width: 55%;
}

.portal_nav {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  z-index: 1;
  background: #3f51b5
}

.portal_nav .market_head {
  margin: 2rem 0;
  text-align: center;
  font-family: cursive;
  color: white;
}

.portal_nav .portal_btn {
  text-decoration: none;
  color: black;
  border: none;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.7);
  margin: 1rem 0;
  text-align: center;
  padding: 0.8rem 0;
  border-radius: 5px;
  background: #e8eaf6;
  transition: box-shadow 250ms;
}

.portal_nav .portal_btn:hover {
  background: white;
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.7);
}

.portal_nav .portal_btn.active {
  background: white;
  box-shadow: 0 0 3px 0px rgba(0, 0, 0, 0.7);
}

.item_page.item_bus {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.item_page .card-bus {
  background: #e8eaf6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Add_item {
  background: white;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.Add_item .head {
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
}

.Add_item .card {
  width: 75%;
  overflow: hidden;
}

.Add_item .card p {
  margin-bottom: 0;
  margin-top: 10px;
}

.Add_item .card img {
  width: 70%;
  border: 1px solid black;
}

.Add_item .card input {
  width: 100%;
  border: 1px solid #e6e6e6;
  outline: 0;
  padding: 0 10px;
  height: 44px;
}

.Add_item .card input.btn {
  width: inherit;
}

.clickable {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  /* consumer */
  .navbar__1 {
    min-height: 13vh;
  }
  .navbar__1 .brand {
    font-size: 1.2rem;
    margin: 0;
  }
  .nav_link::after {
    content: '';
    position: absolute;
    bottom: -1vh;
    left: calc(30%);
    width: 0%;
    height: 1vh;
    background: #0d6efd;
    border-radius: 2px;
    transition: width ease 250ms;
  }
  .nav_link:hover::after {
    width: 40%;
  }
  .nav_link_active::after {
    content: '';
    position: absolute;
    bottom: -1vh;
    left: calc(30%);
    width: 40%;
    height: 1vh;
    background: #0d6efd;
    border-radius: 2px;
  }
  .navbar__1 .brand {
    margin-top: 0.8rem;
  }
  /* business */
  .business .business_auth {
    width: 80%;
  }
  .Add_item .card {
    width: 80%;
  }
}

@media only screen and (max-width: 576px) {
  .navbar__1 {
    min-height: 20vh;
  }
  .navbar__1 .nav_space {
    display: none;
  }
  .navbar__1 .brand {
    font-size: 1.4rem;
    margin: 0;
  }
  .navbar__1 .nav_link {
    display: flex;
    padding: 0.5rem;
  }
}